* {
  box-sizing: border-box;
}

body{
  background-color: #A9D6E5;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #19747E;

}


.square {
  background: #fff;
  border: 1px solid #19747E;
  color: #19747E;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
 }



 .square:hover {
  background: #D1E8E2;
 }

 .board-row:after {
  clear: both;
  content: "";
  display: table;
 }

 .board {
  width: 340px;
  margin: 0 auto;
 }

 .board{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #A9D6E5;
  padding: 20px;
 }

 .status {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #19747E;
}