* {
  box-sizing: border-box;
}

.square {
  background: #ffffffec;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin: 2px;
  padding: 0;
  text-align: center;
  width: 34px;
  transition: background-color 0.3s ease-in-out;
  border-radius: 20%;

 }

 .square:hover {
  background: #b4b0b0ec;
 }

 .board-row:after {
  clear: both;
  content: "";
  display: table;
 }